<!DOCTYPE html>
<html lang="es">
  <head>
    {%include '/components/header.html' %}
    <link rel="icon" href="/static/img/logo1.ico" type="image/x-icon"> 

    <title>Inicio</title>
  </head>
  <body>
    {% include '/components/menu.html' %}
    <div class="swiper_inicio">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide1">
          <div class="text_slide">
            <h2 class="swipe_title text-pop-up-right">"De imagen a idioma: la traducción simplificada."</h2>
          </div>
        </div>
        <div class="swiper-slide slide2">
          <div class="text_slide">
            <h2 class="swipe_title text-pop-up-right">"Transforma imágenes en palabras: traduce fácil."</h2>
          </div>
        </div>
        <div class="swiper-slide slide3">
          <div class="text_slide">
            <h2 class="swipe_title text-pop-up-right">"Escanea, traduce y comprende al instante."</h2>
          </div>
        </div>
        <div class="swiper-slide slide4">
          <div class="text_slide">
            <h2 class="swipe_title text-pop-up-right">"Captura texto, traduce sin esfuerzo."</h2>
          </div>
        </div>
      </div>
      <svg>
        <filter id="fire">
          <feTurbulence
            id="turbulence"
            baseFrequency="0.1 0.1"
            numOctaves="2"
            seed="2"
          >
            <animate attributeName="baseFrecuency" dur="4s"></animate>
          </feTurbulence>
          <feDisplacementMap in="SourceGraphic" scale="1"></feDisplacementMap>
        </filter>
      </svg>
    </div>

    <div class="main-contentInicio contanedoranima">
      <div class="container">
        <h2 class="text-pop-up-right">¡Bienvenido a Genesis!</h2>
        <p class="text-pop-up-right">
          Descubre un mundo de posibilidades con nuestra innovadora aplicación
          de traducción. Captura imágenes y deja que Genesis convierta el texto
          en un nuevo idioma al instante. Ya sea que estes viajando, estudiando
          o simplemente explorando, estamos aqui para ayudarte a comunicarte sin
          barreras.
        </p>
        <img src="/static/img/wel1.svg" alt="home" />
        <h2 class="text-pop-up-right">¡Comienza tu viaje de traducción ahora!</h2>
        <a href="#" class="btnIniciar botonanimacion">Iniciar</a>
      </div>

    </div>

    {% include '/components/footer.html' %}
  </body>
</html>
