<!DOCTYPE html>
<html lang="es">
  <head>
    {%include '/components/header.html' %}

    <title>Tomar Foto</title>
  </head>
  <body>
    {% include '/components/menu.html' %}

    <div class="main-content">
      <input type="hidden" id="txtid12foto" value='{{session["id"]}}' />

      <div class="container">
        <div id="loader" class="loader" style="display: none"></div>

        <div class="titulo">
          <span> <i class="bx bx-chevron-right"></i> </span>
          <h2>Tomar Foto</h2>
        </div>

        <input type="hidden" name="tamanio" id="tamanio" />
        <input type="hidden" name="formato" id="formato" />
        <div class="containerelegir">
          <video style="display: none;" id="video" autoplay></video>
          <div class="buttonsVideo">
            <button id="capturar">Capturar Imagen</button>
            <button id="encenderApagar">Encender Cámara</button>
          </div>

          <canvas id="canvas"></canvas>
        </div>
        <div class="imgcontainer">
          <img
            id="imagenCapturada"
            src="/static/img/imagen_mejorada.png"
            alt=""
          />
        </div>
        <div class="elegircontainer">
          <select name="txtidiomasfoto" id="txtidiomasfoto">
            <option value="es">Espaniol</option>
            <option value="en">Ingles</option>
          </select>
          <button type="button" id="IniciarTraduccionfoto">Iniciar Scan</button>
        </div>
        <div class="imgcontainer">
          <img id="imgEscaneadafoto" src="/static/img/imagen_mejorada.png" alt="" />
        </div>
        <div class="imgcontainer">
          <img id="imgTraducidafoto" src="/static/img/imagenmarcada.png" alt="" />
        </div>
        <div class="tableResultados">
          <div class="containerTexto">
            <span>Texto</span>
            <p id="textofoto">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo,
              provident deserunt labore sunt repellat eaque culpa ipsam sed!
              Iste facere laboriosam voluptate beatae amet odit hic tempora
              sequi, minima aliquam!
            </p>
            <span>Traduccion</span>
            <p id="traduccionfoto">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
              cumque animi laudantium sequi, culpa molestiae autem sunt
              architecto odio velit consectetur aperiam. Obcaecati cum odit
              numquam, debitis repellat laudantium iure.
            </p>
          </div>

          <div class="tituloResultado">
            <h5>Resultados</h5>
            <h6 id="noPalabrasfoto">22 palabras</h6>
          </div>
          <table>
            <thead>
              <tr>
                <td>No Palabra</td>
                <td>Palabra</td>
                <td>Traduccion</td>
              </tr>
            </thead>
            <tbody id="pintarfoto">
              <tr>
                <td>No Palabra</td>
                <td>Palabra</td>
                <td>Traduccion</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {%include '/components/footer.html' %}
  </body>
</html>
