<div class="modalAyuda" id="myModal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <div class="modal-header">
      <h2>Instrucciones de Uso de la Aplicación de Traducción de Texto</h2>
    </div>
    <div class="modal-body">
      <p>
        <b>1. Formato de Imagen:</b> Asegúrate de que la imagen que deseas
        traducir esté en uno de los siguientes formatos: JPG, PNG o JPEG.
        <br /><br />
        <b>2. Selección de Idioma:</b>

        Abre la aplicación y selecciona el idioma al que deseas traducir el
        texto de la imagen. Es importante seleccionar un idioma antes de
        proceder.
        <br />
        <br />
        <b> 3.Carga de la Imagen:</b>

        Una vez seleccionado el idioma, carga la imagen desde tu dispositivo.
        <br />
        <br />
        <b>4. Iniciar Traducción:</b>

        La traducción comenzará automáticamente tan pronto oprimas el boton
        "Iniciar Scan" y el idioma esté seleccionado. El servidor API iniciará
        el proceso de escaneo de la imagen. Si encuentra texto en la imagen,
        automáticamente procedera con el proceos de traduccion.
        <br /><br />
        <b>5. Conexión a Internet:</b>

        Asegúrate de que tu conexión a Internet sea estable para evitar
        interrupciones durante el proceso de traducción.
        <br /><br />

        <b>6. Resultados:</b>

        Una vez completado el escaneo, recibirás los resultados de la traducción
        en la pantalla.
        <br /><br />
        <b
          ><i>
            ¡Gracias por utilizar la App de Genesis! Si tienes alguna duda, no
            dudes en consultar el soporte técnico.</i
          ></b
        >
      </p>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
